@{
    ViewData["Title"] = "Country Selector";
}
<br>
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <ul id="columns" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              @foreach (var column in Model)
        {

         <li><a class="dropdown-item" href="/result" value="@column">@column</a></li>

        }
  </ul>
</div>
