@{
    ViewData["Title"] = "Country Selector";
}
        
<br>

<form action="/filter">
<button class="btn btn-primary" type="submit">
    Dropdown button
  </button>
<ul name="final">
    @foreach (var option in Model)
    {
       <li>@option.GetName()</li>
    }
</ul>

</form>
