@{
    ViewData["Title"] = "Country Selector";
}
<br>
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
     @foreach (var option in Model)
        {

         <li><a class="dropdown-item" href="/" value="oprion">@option</a></li>

        }
  </ul>
</div>
