@{
    ViewData["Title"] = "Country Selector";
}
        
<br>
<form action="/result">
<button class="btn btn-primary" type="submit">
    Dropdown button
  </button>
<select>
    @foreach (var option in Model)
    {
       <option value="@option">@option</option>
    }
</select>

</form>
